.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.search_bar {
  display: flex;
  width: 100%;
  margin: 2rem;
  padding: 1rem;
}
input {
  margin: 0 auto;
  width: 75%;
  border-radius: 6px;
  height: 2rem;
  padding: 0 0.75rem;
  outline: none;
  border: none;
  font-size: 0.95rem;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.4);
}
